<div class="container bg-light p-4">
  <div class="row">
    <div class="col-7 m-auto">
      <h1 class="text-center">Cadastro de Cursos</h1>
      <form [formGroup]="courseFormGroup">
        <div class="mb-3">
          <label for="name" class="form-label">Curso:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
          <small
            *ngIf="submitted && name.hasError('required')"
            class="text-danger"
          >
            *O curso é requirido!
          </small>
          <small
            *ngIf="submitted && name.hasError('minlenght')"
            class="text-danger"
          >
            *O curso tem tamanho mínimo de 3 caracteres!
          </small>
        </div>

        <div class="mb-3">
          <label for="workload" class="form-label">Carga Horária:</label>
          <input
            type="number"
            class="form-control"
            id="workload"
            formControlName="workload"
          />
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Imagem:</label>
          <input
            type="text"
            class="form-control"
            id="image"
            formControlName="image"
          />
        </div>

        <div class="mb-2">
          <label class="form-check-label" for="active">Ativo:</label>
          <input
            class="form-check-input ms-2"
            type="checkbox"
            id="active"
            formControlName="active"
          />
        </div>

        <button class="btn btn-primary w-25 mb-3 mt-4 fs-5" (click)="save()">
          Salvar
        </button>
      </form>
      <h1 class="text-center">Cursos</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Curso</th>
            <th scope="col">Horário</th>
            <th scope="col">Curso</th>
            <th scope="col">Foto</th>
            <th scope="col" class="text-end">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <th scope="row">{{ course.id }}</th>
            <td>{{ course.name }}</td>
            <td>{{ course.workload }} Horas</td>
            <td>
              <span *ngIf="course.active" class="badge text-bg-primary"
                >Ativo</span
              >
              <span *ngIf="!course.active" class="badge text-bg-secondary"
                >Desativo</span
              >
            </td>
            <td>
              <img
                style="width: 100px; height: 80px"
                src="{{ course.image }}"
              />
            </td>
            <td class="text-end">
              <button class="btn btn-success me-2" (click)="update(course)">

              </button>
              <button class="btn btn-danger" (click)="delete(course)">
                
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
